* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100vh;
  max-width: 2000px;
  margin: 0 auto;
  background-color: white;
}

.nav-menu {
  background-color: white;
  box-shadow: 1px 4px 6px 1px #8f8f8f26;
  z-index: 9999;
  color: #505050;
}

.main-content {
  display: grid;
  grid-template-rows: 25%;
}

.image-background {
  position: relative;
}

.title-box {
  position: absolute;
  bottom: 0px;
  margin: 25px;
  color: white;
}

.list-title {
  font-size: 1.8rem;
  font-weight: 600;
  
}

.date {
  margin-top: 0.3rem;
  font-weight: 100;
  
}

.top-image {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}  

/* NAV LEFT MENU */

.nav-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 19px;
  cursor: pointer;
}

.list-text-color {
  color: #4b92c5;
}

.nav-list-item:hover {
  background-color: #f3f9fd;
}

.nav-item-info {
  display: flex;
  align-items: center;
}

.list-items-remaining {
  margin-right: 8px;
}

.nav-highlighted {
  background-color: #ecf5fa;
}

.nav-list-icon {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 26px;
  height: 26px;
  background-color: grey;
  border-radius: 50px;
}

.nav-item-text {
  padding: 0px 10px;
  font-size: 0.95rem;
}

.todos-container {
  width: 90%;
  max-width: 1430px;
  margin: auto;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 85px;
}
.todos-container::-webkit-scrollbar {
  display: none;
}
.todo-card {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
}
.todo-title-status-container {
  display: flex;
  align-items: center;
}
.todo-title-status-container img {
  margin-right: 14px;
}
.todo-card img {
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.check-on,
.highlight-on {
  display: none;
}
.todo-card.completed .check-off,
.todo-card.highlighted .highlight-off {
  display: none;
}
.todo-card.completed .check-on,
.todo-card.highlighted .highlight-on {
  display: block;
}
.todo-card.completed {
  text-decoration: line-through;
  color: #828282;
}
.add-todo {
  position: fixed;
  bottom: 0;
  width: 72%;
  max-width: 1430px;
  background-color: #d7e1e8;
  padding: 15px 17px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #515cb5;
  cursor: pointer;
}
.add-todo img {
  width: 28px;
  height: 28px;
  margin-right: 14px;
}

.btn-close {
  display: none;
}

.menu-icon {
  display: none;
}

.switch-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 25px 35px;
  
}

.lamp-icon {
  width: 30px;
}

@media (max-width: 1024px) {
  .btn-nav {
    position: absolute;    
    margin: 35px 25px;
    cursor: pointer;
  
  }

  .switch-button {
    margin: 25px 25px;
  }

  .menu-icon {
    display: block;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 0px;
    height: 100vh;
    min-width: 250px;
  }

  .btn-close {
    margin: 10px;
    display: block;
  }
  .add-todo {
    width: 90%;
  }
}

@media (min-width: 1025px) {
  .nav-menu {
    display: block !important;
    padding-top: 35px;
  }
}

@media (min-width: 2000px){
  body {
    background-image: url("/client/images/background-bigger-screen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
}