aniso8601==8.1.0
appdirs==1.4.4
asgiref==3.3.1
attrs==20.3.0
aws-sam-translator==1.33.0
aws-xray-sdk==2.6.0
boto==2.49.0
boto3==1.16.59
botocore==1.19.59
certifi==2020.12.5
cffi==1.14.4
cfn-lint==0.44.5
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
decorator==4.4.2
distlib==0.3.1
Django==3.1.7
docker==4.4.1
ecdsa==0.14.1
filelock==3.0.12
Flask==1.1.2
flask-restx==0.2.0
future==0.18.2
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
jsondiff==1.2.0
jsonpatch==1.28
jsonpickle==1.5.0
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
MarkupSafe==1.1.1
mock==4.0.3
more-itertools==8.6.0
moto==1.3.16
networkx==2.5
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.1
python-dateutil==2.8.1
python-jose==3.2.0
pytz==2020.5
PyYAML==5.4.1
requests==2.25.1
responses==0.12.1
rsa==4.7
s3transfer==0.3.4
six==1.15.0
sqlparse==0.4.1
sshpubkeys==3.3.0
toml==0.10.2
urllib3==1.26.2
virtualenv==20.1.0
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.4.0
